@import url('https://fonts.cdnfonts.com/css/rem');
@import url('https://fonts.cdnfonts.com/css/playfair-display-sc');

body {
    font-family: 'REM', sans-serif;
    background-color: rgb(249, 249, 249);
}

.top-bar {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 4rem;

    .site-header {
        margin-left: 2rem;
        padding: 0 1.5rem;
        font-size: 4rem;
        font-family: 'Playfair Display SC', sans-serif;
        border: .5rem solid black;
        border-radius: 1rem;
        cursor: pointer;
    }

    .navbar {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        font-size: 2.25rem;
        gap: 2.5rem;

        &__link {
            color: rgb(130, 130, 130);
            transition: color, font-size .35s ease-in-out;
        }

        &__link:hover {
            color: black;
            font-size: 2.5rem;
        }
    }
}

.welcome-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 4rem;
        text-decoration: underline;
    }

    &__text {
        border: .5rem solid black;
        border-radius: 1rem;
        font-size: 2.5rem;
        padding: 3rem 3rem;
        background-color: rgb(64, 64, 64);
        color: white;
    }

    &__mission {
        width: 70%;
        font-size: 1.45rem;
        text-align: center;
    }
}

.separator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;

    &__bar {
        border: .5rem solid black;
        width: 8rem;
    }

    &__text {
        font-size: 4rem;
    }
}

.category-list {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    text-align: end;
    .category-tile {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        padding: 1rem 2rem;
        width: 50%;
        border: .25rem solid black;
        border-radius: 1rem;
        font-size: 2.25rem;

        .category-link {
            text-decoration: none;
            border-bottom: .15rem solid black;
            border-width: 0;
            color: rgb(130, 130, 130);
            transition: border-width .15s ease-in-out;
        }

        .category-link:hover {
            color: black;
            border-width: .5rem;
        }

    }
}