@import url('https://fonts.cdnfonts.com/css/rem');
@import url('https://fonts.cdnfonts.com/css/playfair-display-sc');

body {
    margin: 0;
    font-family: 'REM', sans-serif;
    background-color: rgb(249, 249, 249);
}

.top-bar {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 4rem;

    .site-header {
        margin-left: 2rem;
        padding: 0 1.5rem;
        font-size: 4rem;
        font-family: 'Playfair Display SC', sans-serif;
        border: .5rem solid black;
        border-radius: 1rem;
        cursor: pointer;
    }

    .navbar {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        font-size: 2.25rem;
        gap: 2.5rem;

        &__link {
            color: rgb(130, 130, 130);
            transition: color, font-size .35s ease-in-out;
        }

        &__link:hover {
            color: black;
            font-size: 2.5rem;
        }
    }

    .sign-in {
        border: none;
        background-color: transparent;
        text-decoration: underline;
        font-size: 2rem;
        font-family: 'REM', sans-serif;
        color: rgb(130, 130, 130);
        transition: font-size .35s ease-in-out;
    }

    .sign-in:hover {
        cursor: pointer;
        color: black;
        font-size: 2.35rem;
    }

    .logged-in-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        button {
            border: none;
            background-color: transparent;
            text-decoration: underline;
            font-size: 2rem;
            font-family: 'REM', sans-serif;
            color: rgb(130, 130, 130);
            transition: font-size .35s ease-in-out;
        }

        button:hover {
            cursor: pointer;
            color: black;
            font-size: 2.35rem;
        }
    }
}

.welcome-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 4rem;
        text-decoration: underline;
    }

    &__text {
        border: .5rem solid black;
        border-radius: 1rem;
        font-size: 2.5rem;
        padding: 3rem 3rem;
        background-color: rgb(64, 64, 64);
        color: white;
    }

    &__mission {
        width: 70%;
        font-size: 1.45rem;
        text-align: center;
    }
}

.separator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;

    &__bar {
        border: .5rem solid black;
        width: 8rem;
    }

    &__text {
        font-size: 4rem;
    }
}

.category-list {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    text-align: end;

    .category-tile {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        padding: 1rem 2rem;
        width: 50%;
        border: .25rem solid black;
        border-radius: 1rem;
        font-size: 2.25rem;

        .category-link {
            text-decoration: none;
            border-bottom: .15rem solid black;
            border-width: 0;
            color: rgb(130, 130, 130);
            transition: border-width .15s ease-in-out;
        }

        .category-link:hover {
            color: black;
            border-width: .5rem;
        }

    }
}

.contact-header {
    text-align: center;
    font-size: 3.5rem;
    text-decoration: underline;
}

.contact-text {
    margin: 0 auto;
    text-align: center;
    width: 40%;
    font-size: 1.75rem;
}

.contact-form {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'REM', sans-serif;
    border: .35rem solid black;
    border-radius: 1rem;
    width: 35%;

    .contact-label {
        font-size: 1.75rem;
        margin-top: 1rem;
    }

    .contact-input {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        width: 20vw;
        text-align: center;
        border: .25rem solid black;
        border-radius: 2rem;
        background-color: transparent;
        padding: .5rem 0;
    }

    textarea {
        font-size: 1.5rem;
        resize: none;
        width: 30vw;
        height: 25vh;
        border: .25rem solid black;
        border-radius: 2rem;
        background-color: transparent;
        padding: 1rem;
    }

    .submit-form-btn {
        margin: 1.5rem 0;
        font-size: 1.5rem;
        padding: .5rem 2.5rem;
        border-radius: 2rem;
        background-color: rgb(64, 64, 64);
        border: none;
        color: white;
        transition: background-color .25s ease-in-out;
    }

    .error-message {
        font-size: 1.15rem;
        color: red;
    }

    .submit-form-btn:hover {
        background-color: black;
        cursor: pointer;
    }
}

.about-title {
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
}

.about-message {
    padding: 1.25rem 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    text-align: center;
    width: 50%;
    border: .5rem solid black;
    border-radius: 1rem;

    p {
        width: 80%;
    }
}

.footer {
    margin-top: 2rem;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.15rem;
    border-top: .25rem solid rgb(64, 64, 64);

    h1 {
        margin: 0;
        padding: .25rem 0;
    }
}

.category-title {
    text-align: center;
    font-size: 3.5rem;
    text-decoration: underline;
}

.category-items {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;

    .item-tile {
        margin: 1rem auto;
        padding: .5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: .25rem solid black;
        border-radius: 1rem;
        width: fit-content;

        .item-picture {
            height: 200px;
            width: 200px;
            border-radius: 1rem;
        }

        .item-name {
            margin-bottom: 0;
            font-size: 1.5rem;
        }

        .item-price {
            margin-top: .5rem;
            font-size: 1.25rem;
        }
    }

    .item-tile:hover {
        cursor: pointer;

        .item-name {
            text-decoration: underline;
        }
    }
}

.item-show {
    .back-link {
        color: black;
        font-size: 2rem;
        margin-left: 5rem;
    }

    .item-name {
        font-size: 2.5rem;
        text-align: center;
        text-decoration: underline;
    }

    .item-details {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        font-size: 1.5rem;

        .item-picture {
            height: 600px;
            width: 400px;
            border: .25rem solid gray;
            border-radius: 1rem;
        }

        .item-price-and-desc {
            width: fit-content;

            .item-price {
                text-align: center;
            }

            .item-description {
                width: 35vw;
            }

            .signed-out {
                text-align: center;
            }

            .add-to-cart {
                display: block;
                margin: 0 auto;
                background-color: black;
                border-radius: 1rem;
                border: none;
                padding: .5rem 1rem;
                font-size: 2rem;
                color: white;
                transition: background-color .25s ease-in-out;
            }

            .add-to-cart:hover {
                background-color: gray;
                color: black;
                cursor: pointer;
            }

            .item-controls {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1rem;
                gap: .5rem;

                .item-amount {
                    background-color: transparent;
                    border: none;
                    text-align: center;
                    width: 5vw;
                    font-size: 2rem;
                }

                .control-btn {
                    background-color: black;
                    color: white;
                    padding: 0 1rem;
                    border-radius: 2rem;
                    font-size: 2rem;
                }

                .control-btn:disabled {
                    background-color: gray;
                    color: black;
                }
            }
        }

    }
}

.cart-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .page-title {
        text-decoration: underline;
    }

    .signed-out-msg {
        font-size: 3rem;
        background-color: black;
        color: white;
        padding: .5rem 1rem;
    }

    .cart-item {
        border: .25rem solid gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25vw;
        padding: 1rem;
        border-radius: 1rem;

        .item-img {
            height: 200px;
            width: 200px;
            border: .25rem solid black;
        }
    }

    .remove-item-btn {
        background-color: transparent;
        border: none;
    }

    .remove-item-btn:hover {
        cursor: pointer;
    }

    .place-order-btn {
        cursor: pointer;
        background-color: black;
        color: white;
        border: none;
        font-size: 2.25rem;
        padding: 1rem 1.5rem;
        border-radius: 2rem;

        .total-text {
            background-color: white;
            color: black;
            padding: .25rem .5rem;
            border-radius: 1rem;
        }
    }
}